# Home
home_latitude: 32
home_longitude: -32
home_elevation: 500
home_time_zone: America/Chicago
base_url: https://<public url>:8123

# qnap
qnap_host: 129.158.0.1
qnap_port: 443
qnap_username: asdf
qnap_password: asdf

# PiHole
pihole_ip: 129.158.0.1

# Dark Sky
darksky_api_key: <key>

# Google Maps
google_maps_api_key: <ky>

# Z-Wave Key
zwave_key: <key>
zwave_device: /dev/ttyACM0

# Zigbee
zigbee_device: /dev/ttyUSB1
zigbee_db: /config/zigbee.db

# Twilio
twilio_account_sid: <sid>
twilio_auth_token: <token>
twilio_from_number: <number>

# MQTT
#mqtt_broker: 10.82.46.20
mqtt_broker: mqtt
mqtt_port: 1883
mqtt_username: mqtt
mqtt_password: <password>

# Ecobee
ecobee_key: <key>

# IFTTT
ifttt_key: <key>

# Automatic
automatic_client_id: <client_id>
automatic_secret: <secret>

# Lutron Caseta
lutron_caseta_host: 129.158.0.1

# plex
plex_host: 129.158.0.1

# hue
hue_bridge_host: 129.158.0.1

# maria db
mysql_connect_sting: mysql://<user>:<password>@<db_url>/homeassistant?charset=utf8
